
services:
  # Наша база данных
  my-db:
    image: redis:alpine

  # Сервис-помощник, который просто отправляет "Hello" в базу
  talker:
    image: redis:alpine
    depends_on:
      - my-db
    # Команда: подождать секунду и отправить текст в сервис 'my-db'
    command: sh -c "sleep 1 && redis-cli -h my-db SET message 'Hello_from_Compose!'"

  # Сервис-проверяльщик, который читает это сообщение
  checker:
    image: redis:alpine
    depends_on:
      - talker
    command: sh -c "sleep 2 && redis-cli -h my-db GET message"